* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
}

h2, h3, h4, h5, p {
    color: seashell;
    opacity: .7;
}

body {
    margin: 0;
    position: relative;
    background-color: black;
    padding-top: 69px;
}

.img {
    width: 300px;
    margin: 10px;
}

#logo {
    height: 50px;
    opacity: .7;
    margin-left: 10px;
}

#logo:hover {
    cursor: pointer;
}

header {
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 245, 238, .7);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
}

ul {
    list-style-type: none;
    margin-left: auto;
}

li {
    display: inline-block;
    color: seashell;
    opacity: .7;
    margin: 10px;
    text-decoration: underline;
    font-weight: 300;
}

li:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

.our-mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-mission img {
    width: 1200px;
    margin-bottom: 50px;
}

.our-mission div {
    background-color: black;
    width: 100%;
    position: absolute;
}

.month {
    width: 1000px;
    margin: 0px auto;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos h4 {
    margin: 0;
    margin-bottom: 10px;
}

#locations {
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1flh09l*_gcl_au*Nzg0MjI3NDQ2LjE3NDEyMzAyMjkuMTk2MjM0NjY4MC4xNzQzNDQ5MzAwLjE3NDM0NDkyOTk.*_ga*MzEwNzc1NTI5NS4xNzQxMjMwMjI1*_ga_3LRZM6TM9L*MTc0MzQ1MzMwMi43MS4xLjE3NDM0NTMzNDYuMTYuMC4w");
    background-repeat: no-repeat;
    background-position: center;
}

#locations h2 {
    opacity: .9;
}

.block {
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 20px;
}

#contact-info {
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#copyright {
    padding: 0px 20px;
    text-align: left;
}